<ion-view view-title="Acerca de">
  <br>
  <br>
  </ion-content>
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/Tucan.png">
      <h2>Semillero de programación</h2>
      <p>Universidad de la amazonia</p>
    </div>

    <div class="item item-image">
      <img src="img/logosemilleroruedas.jpg">
    </div>
  </div>
  <div class="card">
    <div class="item item-text-wrap">
      Aplicacion dedicada al semillero de investigacion de programacion.
    </div>
  </div>
  <div class="card">
    <div class="item item-text-wrap">
      <h2>By Julian David MR</h2>
    </div>
    <div class="item item-text-wrap">
      <h2>Contacto</h2>
      <span class="badge">anlijudavid@gmail.com</span>
    </div>
  </div>
  </ion-content>
</ion-view>