<ion-view view-title="Competencias" ng-init="validarLogin()">
	<ion-content ng-init="getData_Competencias()">
		<div class="card">
			<div class="item item-text-wrap" ng-repeat="e in List_Competencias">
				{{e.NombreCompetencia}}
			</div>
		</div>
	</ion-content>
</ion-view>