<ion-view view-title="Cursos" ng-init="validarLogin()">
  <ion-content ng-init="getData_Cursos()">
    <div class="card">
      <div class="item item-text-wrap" ng-repeat="c in List_Cursos">
        {{c.NombreCurso}}
      </div>
    </div>    
  </ion-content>  
</ion-view>
