<ion-view view-title="Dash">
  <ion-content ng-init="validarLogin()">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/logosemilleroruedas.jpg">
        <h2>{{Perfil.Nombres}} {{Perfil.Apellidos}}</h2>
        <p>{{Perfil.Correo}}</p>
      </div>

      <div class="item item-image">
        <img src="img/lp2.jpg">
      </div>
    </div>
    <div class="card">
      <div class="item">
        Bienvenido
      </div>
    </div>
  </ion-content>
</ion-view>