<ion-view view-title="Editor" ng-init="validarLogin()">
    <ion-content>
        <div class="list card">
            <md-input-container>
                <label>Lenguaje</label>
                <md-select ng-model="grupo.idCuenta1">
                    <md-option ng-value="java">java</md-option>
                    <md-option ng-value="c">c</md-option>
                    <md-option ng-value="cpp">cpp</md-option>
                </md-select>
            </md-input-container>
            <label class="item item-input">
                <textarea placeholder="Pega tu codigo acá"></textarea>
            </label>
            <button class="button button-full button-positive">
                Enviar
            </button>
        </div>
    </ion-content>
</ion-view>