<ion-view view-title="Eventos" ng-init="validarLogin()">
  <ion-content ng-init="getData_Eventos()">
    <div class="card" ng-repeat="ev in List_Eventos">
      <div class="item item-divider">
        {{ev.NombreEvento}}
      </div>
      <div class="item item-text-wrap">
         {{ev.Comentario}}
      </div>
      <div class="item item-divider">
         {{ev.Fecha}}
      </div>
    </div>
  </ion-content>
</ion-view>