<div view-class="modal" ng-init="validarLogin()" view-title="Subir">
	<ion-header-bar class="bar-stable">
		<h1 class="title">Carga de codigo</h1>
		<div class="buttons">
			<button class="button button-stable button-clear ">Close</button>
		</div>
	</ion-header-bar>
	<ion-content padding="true" scroll="false" class="has-header">
		<ion-list></ion-list>
		<label class="item item-input">
			<span class="input-label">Código fuente</span>			
			<textarea placeholder=""> </textarea>
		</label>
		<button class="button button-positive button-block  icon-right ion-more">Seleccionar archivo</button>
		<button class="button button-positive  button-small icon-right ion-android-search button-full">Añadir</button>
		<button class="button button-stable button-block button-small icon-left ion-android-note button-full">Mas información</button>
	</ion-content>
</div>