<ion-view view-title="Acerca de">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Aplicacion dedicada al semillero de investigacion de programacion.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h2>Programado por Julian David MR</h2>
      </div>
      <div class="item item-text-wrap">
        <h2>Contacto</h2>
        <span class="badge">anlijudavid@gmail.com</span>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div> -->
  </ion-content>
</ion-view>