<ion-view view-title="Dash">
  <ion-content ng-init="validarLogin()">
    <div class="card">
      <div class="item item-text-wrap">
        Bienvenido
      </div>
      <div class="item item-text-wrap">
        {{Perfil.Nombres}} {{Perfil.Apellidos}}
      </div>
      <div class="item item-text-wrap">
        <P>{{Perfil.Telefono}}</P>
        <P>{{Perfil.Correo}}</P>
      </div>
    </div>
    <label class="item">
      <button class="button button-block button-positive" ng-click="whitelist()">Probar</button>
    </label>
  </ion-content>
</ion-view>