<ion-view view-title="Editor" ng-init="validarLogin()">
    <ion-content>
        <div class="list card">
            <md-input-container>
                <label>Lenguaje</label>
                <md-select ng-model="grupo.idCuenta1">
                    <md-option ng-value="java">java</md-option>
                    <md-option ng-value="c">c</md-option>
                    <md-option ng-value="cpp">cpp</md-option>
                </md-select>
            </md-input-container>            
            <input type="text" placeholder="Tu codigo aqui" />                    
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Enviar
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>