<ion-view view-title="Ejercicios" ng-init="validarLogin()">
	<ion-content ng-init="getData_Ejercicios()">
		<div class="card">
			<div class="item item-text-wrap" ng-repeat="e in List_Ejercicios">
				{{e.NombreEjercicio}}
			</div>
		</div>
	</ion-content>
</ion-view>