<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Iniciar sesión</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Salir</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Correo</span>
          <input type="text" ng-model="loginData.username" placeholder="@udla.edu.co">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="loginData.password">
        </label>

        <ion-toggle toggle-class="toggle-positive">Usuario/Grupo</ion-toggle>
        <div class="spacer" style="height: 40px;"></div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <a class="button button-positive button-clear button-block  icon-left ion-android-developer" ng-click="boton_Registrarme()">Crear una cuenta</a>
      </div>
    </form>
  </ion-content>
</ion-modal-view>