<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Opciones</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Iniciar sesión
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/cursos">
          Cursos
        </ion-item>
        <ion-item menu-close href="#/app/ejercicios_realizados">
          Ejercicios
        </ion-item>
        <ion-item menu-close href="#/app/registrar_grupo">
          Registrar grupo
        </ion-item>
        <ion-item menu-close href="#/app/editorvivo">
          Editor de codigo
        </ion-item>
        <ion-item menu-close href="#/app/prueba">
          Prueba
        </ion-item>
        <ion-item menu-close href="#/app/subir_codigo">
          Codigo
        </ion-item>
        <ion-item menu-close href="#/app/competencias">
          Competencias
        </ion-item>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i> Grupos
          <span class="badge badge-assertive">0</span>
        </a>
        <ion-item menu-close href="#/app/acercade">
          Acerca de
        </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>