<ion-view view-title="Playlist">
  <ion-content>
    <h1>Playlist</h1>
    <p>{{}}</p>
    <p ng-repeat="playlist in playlists" ng-init="paso=$index;">
      Elemento con id {{paso}}: <span>{{playlist}}</span>
    </p>
  </ion-content>
</ion-view>
