<ion-view view-title="Registro de usuario" ng-controller="AppCtrl as ac">
	<form>
		<ion-content padding="true" class="has-header">
			<ion-list>
				<label class="item item-input">
					<span class="input-label">E-mail</span>
					<input type="email" placeholder="" ng-model="usuario.email">
				</label>
				<label class="item item-input">
					<span class="input-label">Contraseña</span>
					<input type="password" placeholder="" ng-model="usuario.pass">
				</label>
				<label class="item item-input">
					<span class="input-label">Nombre</span>
					<input type="text" placeholder="" ng-model="usuario.nombres">
				</label>
				<label class="item item-input">
					<span class="input-label">Apellidos</span>
					<input type="text" placeholder="" ng-model="usuario.apellidos">
				</label>
				<label class="item item-input">
					<span class="input-label">Telefono</span>
					<input type="tel" placeholder="" ng-model="usuario.telefono">
				</label>
				<md-input-container ng-init="getData_Programa()">
					<label>Programa</label>
					<md-select ng-model="usuario.programa">
						<md-option ng-repeat="lp in List_Programa" ng-value="{{lp.idPrograma}}">{{lp.NombrePrograma}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container ng-init="getData_TipoDocumento()">
					<label>Tipo de documento</label>
					<md-select ng-model="usuario.tipodoc">
						<md-option ng-repeat="td in List_TipoDocumento" ng-value="{{td.idTDocumento}}">{{td.NTDocumento}}</md-option>
					</md-select>
				</md-input-container>
				<label class="item item-input">
					<span class="input-label"># Documento</span>
					<input type="text" ng-model="usuario.documento">
				</label>
				<div class="spacer" style="width: 300px; height: 16px;"></div>
			</ion-list>
			<button class="button button-positive button-block" ng-click='registrarCuenta()'>Registrarme</button>
		</ion-content>
	</form>
	<h1>{{usuario.email}}</h1>

</ion-view>