<ion-view view-title="Registro de grupos">
	<form>
		<ion-content padding="true" class="has-header">
			<label class="item item-input">
				<span class="input-label">Nombre de grupo</span>
				<input type="text" placeholder="La furia tamalera" ng-model="grupo.nombregrupo">
			</label>
			<label class="item item-input">
				<span class="input-label">Nombre de usuario</span>
				<input type="text" placeholder="iniciar sesion con " ng-model="grupo.nusuario">
			</label>
			<label class="item item-input">
				<span class="input-label">Contraseña</span>
				<input type="password" placeholder="clave de acceso " ng-model="grupo.contrasenia">
			</label>
			<div ng-init="getData_CuentaPersona()">
				<md-input-container>
					<label>Usuario 1</label>
					<md-select ng-model="grupo.idCuenta1">
						<md-option ng-repeat="cp in List_CuentaPersona" ng-value="{{cp.idCuenta}}">{{cp.Nombres}}{{cp.Apellidos}} - {{cp.NDocumento}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<label>Usuario 2</label>
					<md-select ng-model="grupo.idCuenta2">
						<md-option ng-repeat="cp in List_CuentaPersona" ng-value="{{cp.idCuenta}}">{{cp.Nombres}}{{cp.Apellidos}} - {{cp.NDocumento}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<label>Usuario 3</label>
					<md-select ng-model="grupo.idCuenta3">
						<md-option ng-repeat="cp in List_CuentaPersona" ng-value="{{cp.idCuenta}}">{{cp.Nombres}}{{cp.Apellidos}} - {{cp.NDocumento}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<md-input-container ng-init="getData_Competencia()">
				<label>Competencia</label>
				<md-select ng-model="grupo.competencia">
					<md-option ng-repeat="lc in List_Competencia" ng-value="{{lc.idCompetencia}}">{{lc.NombreCompetencia}}</md-option>
				</md-select>
			</md-input-container>
			<button class="button button-positive button-block" ng-click='registrarGrupo()'>Registrar</button>
		</ion-content>
	</form>
	<!--	/grupo/add/:NombreGrupo/:UserGrupo/:Contrasenia/:FK_idPersona1/:FK_idPersona2/:FK_idPersona3/:FK_idCompetencia -->
</ion-view>